In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Humberto De Campos,BR,2021-08-06 05:22:09,-2.5983,-43.4611,74.34,92,21,3.98
1,1,Cidreira,BR,2021-08-06 05:22:09,-30.1811,-50.2056,60.35,95,100,15.57
2,2,Kavieng,PG,2021-08-06 05:22:10,-2.5744,150.7967,84.24,70,46,14.16
3,3,Hilo,US,2021-08-06 05:19:30,19.7297,-155.0900,75.25,91,62,1.99
4,4,Kloulklubed,PW,2021-08-06 05:22:10,7.0419,134.2556,82.90,67,100,4.59

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kavieng,PG,2021-08-06 05:22:10,-2.5744,150.7967,84.24,70,46,14.16
3,3,Hilo,US,2021-08-06 05:19:30,19.7297,-155.0900,75.25,91,62,1.99
4,4,Kloulklubed,PW,2021-08-06 05:22:10,7.0419,134.2556,82.90,67,100,4.59
5,5,Lensk,RU,2021-08-06 05:22:11,60.7253,114.9278,76.68,44,100,8.01
9,9,Kropotkin,RU,2021-08-06 05:22:13,45.4375,40.5756,86.38,31,0,16.28
14,14,Shingu,JP,2021-08-06 05:22:16,33.7333,135.9833,86.92,91,100,13.33
16,16,Vanimo,PG,2021-08-06 05:22:17,-2.6741,141.3028,82.36,82,26,5.14
23,23,Baruun-Urt,MN,2021-08-06 05:22:20,46.6806,113.2792,80.13,32,3,12.17
24,24,Rayong,TH,2021-08-06 05:22:20,12.8333,101.4333,87.30,82,99,12.19
28,28,Mapastepec,MX,2021-08-06 05:22:22,15.4333,-92.9000,75.47,96,100,3.44

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2       Kavieng      PG     84.24  -2.5744  150.7967
3          Hilo      US     75.25  19.7297 -155.0900
4   Kloulklubed      PW     82.90   7.0419  134.2556
5         Lensk      RU     76.68  60.7253  114.9278
9     Kropotkin      RU     86.38  45.4375   40.5756
14       Shingu      JP     86.92  33.7333  135.9833
16       Vanimo      PG     82.36  -2.6741  141.3028
23   Baruun-Urt      MN     80.13  46.6806  113.2792
24       Rayong      TH     87.30  12.8333  101.4333
28   Mapastepec      MX     75.47  15.4333  -92.9000

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kavieng,PG,84.24,-2.5744,150.7967,Nusa Island Retreat
3,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Kloulklubed,PW,82.90,7.0419,134.2556,Storyboard Beach Resort
5,Lensk,RU,76.68,60.7253,114.9278,ТинОрС
9,Kropotkin,RU,86.38,45.4375,40.5756,Hotel Europe Kropotkin
14,Shingu,JP,86.92,33.7333,135.9833,Shingu UI Hotel
16,Vanimo,PG,82.36,-2.6741,141.3028,Vahmoneh Lodge Vanimo
23,Baruun-Urt,MN,80.13,46.6806,113.2792,Ахмадын амралт сувилал
24,Rayong,TH,87.30,12.8333,101.4333,Suan Palm Garden View Hotel
28,Mapastepec,MX,75.47,15.4333,-92.9000,Hotel San Carlos

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))